<template>
  <div id="home">
    <Controls/>
    <Map/>
  </div>
</template>

<script>
import Map from '@/components/map';
import Controls from '@/components/controls';

export default {
  components: {
    Map,
    Controls,
  },
};

</script>
