<template>
  <div
    id="controls"
    >
    <span>
      Игрок: {{this.getPlayer.name}}
    </span>
    <div>
    <button @click="move('RIGHT')">Вправо</button>
    <button @click="move('LEFT')">Влево</button>
    <button @click="move('UP')">Вверх</button>
    <button @click="move('DOWN')">Вниз</button>
    </div>
  </div>
</template>

<script src="./core.js" />
