<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import {
  mapActions,
} from 'vuex';

export default {
  methods: {
    ...mapActions([
      'setMap',
      'setPlayer',
    ]),
  },
  mounted() {
    this.sockets.subscribe('map_update', (data) => {
      this.setMap(JSON.parse(data.map));
      let player = {
        id: this.$route.query.userId,
        name: 'player' + this.$route.query.userId,
        image: 'drum_andrey',
        position: {
          x: 0,
          y: 0,
        },
      }
      this.setPlayer(player);
    });
    this.sockets.subscribe('log', (data) => {
      console.log('log', data);
    });
    this.sockets.subscribe('test', (data) => {
      console.log('test socket', data);
    });
  },
};

</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
