#map {
    border: 3px solid black;
    // width: 700px;
    // @media screen and (orientation: landscape) {
    // @media (max-width: ) {
    // 
    // }
    // width: $map-width;
    // height: $map-width;
    // height: 650px;
    // margin: 0 auto;
}